<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>anuragcharitabletrust</display-name>
  <servlet>
	  <servlet-name>homepage</servlet-name>
	  <servlet-class>com.anuragcharitabletrust.LandingPageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>homepage</servlet-name>
	  <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
	  <servlet-name>getinvolved</servlet-name>
	  <servlet-class>com.anuragcharitabletrust.DonationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	  <servlet-name>getinvolved</servlet-name>
	  <url-pattern>/getinvolved</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ourwork</servlet-name>
    <jsp-file>/ourwork.html</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ourwork</servlet-name>
    <url-pattern>/ngo1/ourwork</url-pattern>
</servlet-mapping>
</web-app>